<p>
  <strong>100% Cotton Bomber Jacket</strong>
  <span data-mce-fragment="1">
    <strong></strong>are a stylish and versatile pair of pants that are perfect for everyday wear. They are made from a soft and durable cotton blend that is perfect for keeping you cool and comfortable. The pants feature a slim fit, a two-pocket design, and a button fly. They are also available in a variety of colors and sizes to suit your needs.</span>
</p>
<p data-mce-fragment="1">
  <strong>Product details</strong><br data-mce-fragment="1"></p>
<ul data-mce-fragment="1">
  <li data-mce-fragment="1">Product Dimensions ‏ : ‎ 13 x 8 x 1 inches; 3.84 Ounces</li>
  <li data-mce-fragment="1">Item model number ‏ : ‎ GT9337</li>
  <li data-mce-fragment="1">Department ‏ : ‎ womens</li>
  <li data-mce-fragment="1">Date First Available ‏ : ‎ June 8, 2018</li>
  <li data-mce-fragment="1">Manufacturer ‏ : ‎ Hanes</li>
  <li data-mce-fragment="1">ASIN ‏ : ‎ B07CNDQ6LC</li>
  <li data-mce-fragment="1">Best Sellers Rank: #6,946 in Clothing, Shoes &amp; Jewelry (See Top 100 in Clothing, Shoes &amp; Jewelry)</li>
  <li data-mce-fragment="1">#161 in Women's T-Shirts</li>
</ul>
<p data-mce-fragment="1">
  <strong>How to Measure Your Body For Size</strong>
</p>
<p data-mce-fragment="1"><img
    alt=""
    src="https://cdn.shopify.com/s/files/1/0783/5192/5538/files/FittingIllustration_Ladies_480x480.png?v=1695614068"
    data-mce-fragment="1"
    data-mce-src="https://cdn.shopify.com/s/files/1/0783/5192/5538/files/FittingIllustration_Ladies_480x480.png?v=1695614068"></p>
<strong>BUST</strong><br data-mce-fragment="1">Place tape measure up under arms and measure the fullest part of the chest, keeping tape parallel to the floor.<br data-mce-fragment="1">
<p>
  <strong>WAIST</strong>
</p>
Tape measure should be straight around waist where pant waistband normally sits.<br data-mce-fragment="1"><strong>HIP</strong><br data-mce-fragment="1">Standing with heels together and with tape parallel to the floor,measure the fullest part.