<a
  class="ml-3.75 tp-header-wishlist icon-contain-count icon-wishlist hidden md:block relative"
  href="/pages/wishlist"
  title="wishlist"
>
  {% render 'icon', icon_name: 'wishlist' %}
  <span class="wishlist-count wlist-cart-count">0</span>
</a>
